<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cs.mapper.OrderMapper" >

    <insert id="addOrder" parameterType="Order">

        insert into orders(id,u_id,create_time,totalprice)
        values( #{id},#{uId},#{createTime}, #{totalprice})
    </insert>

    <update id="updateOrder">
        update orders set status = 1,
                          pay_time = #{time}
        where id = #{id}
    </update>


    <delete id="deleteOrder" parameterType="String">
        delete from orders where id=#{id}
    </delete>

    <select id="getOrderList" parameterType="Integer" resultType="Order">
        select id as id,
               create_time as createTime,
               totalprice as totalprice,
               status as status
        from orders where u_id = #{id}
    </select>
</mapper>